.ui-menu-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
} 

body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Roboto, Roboto, Roboto;
}

.button {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: Roboto;
    margin: 10px 20px;
    z-index: 2;
    top: 0;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24),0 3px 2px 0 rgba(0,0,0,0.19);
}

div.tooltip {   
    position: absolute;
    text-align: center;
    width: 300px;
    height: auto;
    padding: 2px;
    font: 12px Roboto;
    background: white;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 8px;
    pointer-events: none;
    padding: 2px;
    z-index:2;
}

div.infoPanel {
    position: absolute;         
    text-align: center;         
    width: 300px;                   
    height: 80%;                  
    padding: 2px;               
    font: 14px Roboto;      
    background: white;  
    border: 1px;    
    border-color: black;
    border-style: solid;    
    border-radius: 8px;         
    padding: 5px;
    left: 1%;
    top: 15%;  
    display: none; 
    overflow-y: auto;
    overflow: scroll;
    z-index:2;
    pointer-events: none;  
}

div.ProjectNames {
	text-align: left;
}

div.Collab {
	text-align: left;
}

div.infoPanelL {
    position: absolute;         
    text-align: center;         
    width: 300px;                   
    height: 80%;                  
    padding: 2px;               
    font: 14px Roboto;      
    background: white;  
    border: 1px;    
    border-color: black;
    border-style: solid;    
    border-radius: 8px;         
    padding: 5px;
    left: 1%;
    top: 15%;  
    display: none; 
    overflow-y: auto;
    overflow: scroll;
    z-index:2;
    pointer-events: none;  
}

div.ui-widget { 
    position: absolute;  
    top: 0;
    left: 0;              
    width: 100%;
    padding-bottom: 10;
    text-align: center;  
    font-family: Roboto;
	font-weight: 700;
    border-color: black;
    border-bottom-style: solid;
    border-bottom: 2px;   
    background-color: cornflowerblue;   
    z-index:2;
}

div.search {
    z-index: 1;
    text-align: center;
    width: 100%;
}

div.filterBar {
    float: left;
    position: absolute;
    margin-top: 6%;
    width: 60%;
    height: 80%;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    padding-left: 0%;
    padding-top: 10px;
    margin-left: 20%;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    display: none;
    z-index: 2;
}

div.filterLists {
	height: 90%;
	overflow-y: scroll;
}

div.collabFilters {
    text-align: center;
}

div.tagFilters {
    text-align: center;
	height: 50%;
}

div.orgFilters {
	text-align: center;
	margin-top: 5%;
	padding-top:2%;
}

div.finalFilterButtons {
    padding: 2%;
    text-align: center;
}
div.tagListWindow {
    height: 90%;
    margin-left: 5%;
	margin-right: 5%;
    text-align: left;
    overflow-y:auto;
    column-count: 2;
}

div.minYear {
	float: left;
	position: absolute;
	left: 5%;
}

div.maxYear {
	float: right;
	position: absolute;
	right: 5%;
}

div.yearDisplay {
	position: relative;
}

div.sliderDiv {
	position: relative;
	bottom: -30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	z-index: 3;
}

div.contLegend {
    position:absolute;
    bottom:0;
    right:0;
}

button.xbutton {
    content: 'x';
    color: #fff;
    font-weight: 300;
    font-family: Roboto, sans-serif;
}
button.filterButton {
    float: center;
    font-size: 16px;
    text-align: center;
	font-family: Roboto;
}

button.toggleButton {
    float: left;
    font-size: 16px;
	font-family: Roboto;
}

button.Investigator {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: Roboto, sans-serif;
	font-size: 14px;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

br {
    display: block;
    margin: 2px;
}

.node {
    cursor: pointer;
}

.overlay{
    background-color:#FFF;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    color:#808080;
    font-size:22px; 
    font-family:Roboto;
}

.link {
    fill: none;
    /*
	stroke: #ccc;
	stroke-width: 1.5px;
	*/
}

form.tagList {
    float:left;
}

form.yearSlider {
	text-align:center;
	margin-top:5%;
	padding-top:1%;
}

.graphContainer {
    position:relative;
}

.graphToolContainer {
    position:relative;
    overflow:hidden;
}

.orgLegendSVG {
	position:absolute;
	right:10px;
	bottom:80px;
	width:100px;
	height:145px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Roboto !important;
}

.ui-widget {
	font-family: Roboto !important;
}

.ui-autocomplete-input {
	font-family: Roboto !important;
}